
<template>
  
            <div class="row pl-4 white-box">
                
                <div class="col-lg-6  p-0 " >
                    <div class="card" v-show="chatOpen && reciver_id">
                        <div class="card-header bg-darkblue text-white py-1 px-2" style="flex: 1 1">
                            <div class="d-flex flex-row justify-content-start">
                                <div class="col">
                                    <div class="p-2">
                                        <i class="ti-user"></i>
                                        <b class="pl-1">{{reciver_id.username}}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body bg-lightgrey d-flex flex-column messag p-0" style="max-height: 200vh; overflow: scroll; flex: 9 1; padding-bottom: 50px" v-chat-scroll>
                            <div class="container-fluid message-scroll" style="flex: 1 1">

                                <div class="row rounded-3" v-for="(message, index) in messages" :key="index"  :class="{'justify-content-end': message.sender.id == user.id}"  >
                                    <div class="card message-card m-1 rounded-4" v-show="message.sender.id == reciver_id.id">
                                        <div class="card-body p-2">
                                             <i style="color:#e64980" class="ti-user"></i>
                                            <span class="mx-2">{{ message.message }}</span>
                                            <!-- <span class="float-right mx-1"><small>14:13<i class="fas fa-eye fa-fw" style="color:#e64980"></i></small></span> -->
                                        </div>
                                    </div>
                                    <div class="card message-card bg-lightblue m-1 rounded-0" v-show="message.sender.id == user.id">
                                        <div class="card-body p-2">
                                            <span class="mx-2">{{ message.message }}</span>
                                            <i class="text-white ti-user"></i>
                                            <!-- <span class="float-right mx-1"><small>14:14<i class="fas fa-eye fa-fw" style="color:#e64980"></i></small></span> -->
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="input-group mt-25">
                                <input type="text" class="form-control" v-model="newMessage">
                                <span class="input-group-addon bg-primary">
                                    <button class="btn border-0 bg-primary text-white" type="button" @click="sendMessage"> send
                                        <i class="ti-location-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 border-chat-lightgray px-0 text-right">
                    <div id="sidebar-content" class="w-100 h-100">
                        <div class="sidebar-scroll" id="list-group" >
                            <h2 class="bg-darkblue text-white p-2">Active Users</h2>
                            <ul class="list-group w-100" id="friend-list" >
                                <li class="list-group-item p-2 hover-bg-lightgraym mt-2" v-for="(user, index)   in users" v-show="Authuser != user.id" @click="GetUser(user)" :class="{'active': reciver_id.id == user.id}"  :key="index">
                                    <!-- <img src="//placehold.it/50x50" class="rounded-circle"> -->
                                    <span class="d-xs-none username">{{ user.username }}</span>
                                     <i class="text-white ti-user"></i>
                                    <!-- <span class="badge badge-primary">new</span> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

      
</template>

<script>
    export default {
        props:['user'],
        data() {
            return {
                messages: [],
                newMessage: '',
                users:[],
                Authuser:this.user.id,
                reciver_id:'',
                chatOpen:false,
                activeUser: false,
                typingTimer: false,
            }
        },
        created() {
            this.fetchMessages();
            Echo.join('chat')
                .here(user => {
                    this.users = user;
                    
                })
                .joining(user => {
                    this.users.push(user);                    
                })
                .leaving(user => {
                    this.users = this.users.filter(u => u.id != user.id);
                })
                .listen('ChatEvent',(event) => {
                    this.messages.push(event.chat);
                })
                .listenForWhisper('typing', user => {
                   this.activeUser = user;
                    if(this.typingTimer) {
                        clearTimeout(this.typingTimer);
                    }
                   this.typingTimer = setTimeout(() => {
                       this.activeUser = false;
                   }, 1000);
                })
        },
         mounted() {
             
             if (localStorage.reciver_id) { 
                  axios.get('api/v4/user',{
                        params: {
                        id: localStorage.reciver_id
                        }
                    }).then(response => {
                       this.reciver_id = response.data;
                })            
                 this.chatOpen = true;

                 $(".messag").animate({ scrollBottom: $(document).height() }, "fast");
            }else{
                 this.chatOpen = false;
            }
        },
        methods: {
            GetUser(rcv_user) {
                //console.log(reciver_id);
                   this.reciver_id = rcv_user;
                   localStorage.reciver_id = rcv_user.id;
            },
            fetchMessages() {
                axios.get('api/v4/messages').then(response => {
                    this.messages = response.data;
                    console.log(this.messages);
                    
                })
            },
            sendMessage() {
                
                if (this.newMessage != '') {
                console.log(this.newMessage);
                this.messages.push({
                    user: this.user,
                    sender:this.user,
                    receiver:this.reciver_id,
                    message: this.newMessage
                });
                 if (localStorage.reciver_id) {
                    axios.post('api/v4/messages', {
                    reciver_id:this.reciver_id.id,
                    message: this.newMessage
                    }).then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }               
                this.newMessage = '';
                  }
            },
            sendTypingEvent() {
                Echo.join('chat')
                    .whisper('typing', this.user);
                console.log(this.user.name + ' is typing now')
            }
        }
    }
</script> 

<style scoped>
body {
    min-height: 100vh;
    padding: 10px;
}
.chat-container {
    height: 25rem;
    min-height: 20rem;
}
@media (max-width: 575px) {
    html {
        font-size: 12px!important;
    }
    .d-xs-none {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    html {
        font-size: 16px!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 18px!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 20px!important;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 22px!important;
    }
}
* {
    border-radius: 0px;
    border-collapse: collapse;
    box-shadow:none!important;
}

.message-card {
    max-width: 60%;
}
.rounded-4{
    background: #dcdada!important;
    color: black !important;
    border-bottom-left-radius: 20px!important;
    border-top-left-radius: 0px!important;
    border-top-right-radius: 20px!important;
}
.bg-lightblue{
    color:white!important;
    background-color:#034780;
    border-bottom-right-radius: 20px!important;
    border-top-right-radius: 0px!important;
    border-top-left-radius: 20px!important;
}
.bg-darkblue{
    background-color:#0E5EA9;
}
.bg-lightgrey {
    background-color:#f1f1f1;
}
.search-input-h {
    height: 10%!important;
}

.hover-color-darkblue:hover {
    color:#0E5EA9!important;
}
.hover-color-lightgray:hover {
    color:#dcdcdc!important;
}
.hover-bg-lightgray:hover {
    background-color: #dcdcdc!important;
    cursor:pointer;
}
.active.hover-bg-lightgray:hover {
    background-color: #0E5EA9!important;
    cursor:pointer;
}
.border-chat-lightgray{
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: #dfdfdf!important;
}
.text-white{
    color: white;
}
.message-scroll {
    overflow-y: auto;
}
.sidebar-scroll {
   overflow-y: auto;
}
#sidebar-content {
    display: flex;
    flex-direction: column;
}
li.list-group-item.active.p-2.hover-bg-lightgray {
    margin-left: auto;
}
#list-group {
    flex: 1 1;
}
.list-group-item span{
    cursor: pointer;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; 
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.68 !important;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#30cfd0), to(#330867));
  background-image: -webkit-linear-gradient(bottom, #30cfd0 0%, #330867 100%);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); 
}
</style>
